
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase
.firebase
firebase-debug.log
database-debug.log

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# local
.DS_Store
*.pem
*.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Next.js specific
.next/
out/

# Turbopack
.turbo/

# Custom cache directory
.custom_cache/
